@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProRegular.otf");
}

body {
  width: 400px;
  padding: 20px;
}

#copyButton {
  background-color: #2cbe60;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "SofiaPro";
}
